push constant 1
push constant 1
add

push constant 1
push constant 2
sub

push constant 1
neg

push constant 2
push constant 2
eq

push constant 1
push constant 2
gt

push constant 2
push constant 1
lt

push constant 1
push constant 1
and

push constant 1
push constant 1
or

push constant 1
not
